#outer{
    width: 40px;
    height: 120px;
    padding: 10px;
    border: 0.5px solid black;

}
#inner{
    padding: 10px;
    border: 1px solid black;
    width: 20px;
    height: 100px;
}

#green,#red,#yellow{
    border: 1px solid black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 10px 0 10px 0;

}

#green{
    background-color: rgb(16, 215, 16);
}
#red{
    background-color: rgb(229, 60, 9);
}
#yellow{
    background-color: yellow;
}