div{
    height: 200px;
    width: 500px;
    border: 10px dashed blue;
    border-radius : 20px;
    padding: 20px;
    margin: 20px 30px 10px 30px;
    /* margin-bottom: 20px;
    margin-left: 200px; */
    
}
button{
    border: 20px solid black;
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
    color: bisque;
    background-color: rgb(210, 133, 9);
}